main {
  padding: 0 2em;
}

/*** Message de bienvenu ***/
.message-bienvenu {
  margin: 15em 0;
}

.message-bienvenu > h1 {
  font-size: 6em;
}


/*** Le Carousel ***/
div.prochainememt {
  display: flex;
}

div.conteneur-bouton {
  text-align: center;
  flex-grow: 1;
}

.btn-floating.btn-large {
  width: 100%;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  background-color: var(--transparent);
}

.btn-floating.btn-large.disabled {
  background-color: var(--transparent) !important;
  color: var(--black-66) !important;
}

.btn-floating i.material-icons {
  color: inherit;
}

div.conteneur-concours {
  overflow: hidden;
  width: 60em;
}

ul.liste-concours {
  display: flex;
  margin: 0 !important;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

ul.archive-liste {
  display: flex;
  flex-wrap: wrap;
}

ul.liste-concours > li {
  flex: 0 0 16rem;
  margin: 0 2rem;
}

ul.archive-liste > li {
  flex: 0 0 16rem;
  margin: 1rem 2rem;
}

div.concours,
div.archive {
  padding: 0 !important;
  background-color: var(--white);
  color: var(--dark);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: none;
  transition-property: box-shadow;
  transition-duration: 0.3s;
}

div.image-conteneur,
div.archive-image {
  width: 100%;
  height: 12rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

div.info-concours,
div.archive-infos {
  padding: 0 1rem 1rem 1rem;
}

a.btn-theme,
a.btn-theme:hover {
  background-color: var(--theme);
}