body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  color: #ffffff;
  height: 100vh;
}

div.conteneur {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  padding: 2em;
}

div.conteneur > section.partie-gauche {
  padding: 0rem 2rem;
}

section.partie-gauche > h1.titre {
  font-size: 5rem;
  margin-top: 0;
}

div.conteneur > section.partie-droite {
  background-color: #ffffff66;
  padding: 2rem 4rem;
}

.logo-app {
  width: 15em;
  height: 15em;
  border-radius: 10em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.form-titre {
  font-weight: 600;
  margin-bottom: 3rem;
}

/* label color */
input[type=text] + label,
input[type=password] + label {
  color: #bbbbbb;
}
/* label focus color */
input[type=text]:focus + label,
input[type=password]:focus + label {
  color:#ffffff!important;
}
/* label underline focus color */
input[type=text]:focus,
input[type=password]:focus {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 0 #ffffff !important;
}
/* valid color */
input.valid [type=text],
input.valid [type=text]:focus,
input.valid [type=password]:focus,
input.valid [type=password] {
  border-bottom: 1px solid #43a047 ;
  box-shadow: 0 1px 0 0 #43a047 ;
}
/* invalid color */
input.invalid [type=text],
input.invalid [type=text]:focus,
input.invalid [type=password]:focus,
input.invalid [type=password] {
  border-bottom: 1px solid #b71c1c;
  box-shadow: 0 1px 0 0 #b71c1c;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #ffffff;
}

/* Input */
input[type="text"],
input[type="password"] {
  color: #ffffff;
  border-bottom: 1px solid #bbbbbb!important;
}
