main {
  padding: 0 2em;
}

.text-theme {
  color: var(--theme);
}

h3, article, select, span {
  color: var(--white);
}

.equipes {
  background-color: var(--dark-2);
  
}

.equipes > ul {
  height: 40vh;
  overflow: auto;
}

.compteur.col {
  padding-top: 20vh;
}

.info-carte {
  background-color: var(--red);
  padding: 0.5em;
  border-radius: 5px;
  margin: 0;
}

.formulaire {
  padding-top: 2em;
}

.collection {
  border: none;
}

.circle {
  background-color: var(--dark);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.collection .collection-item.avatar {
  min-height: 66px;
}

.collection .collection-item.avatar .title {
  position: absolute;
  top: calc(50% - 15px);
}

.collection .collection-item {
  background-color: var(--transparent);
  border: none;
  border-bottom: 1px solid var(--dark-3);
}

.select-wrapper .select-dropdown {
  color: var(--white-1);
  background-color: var(--dark-1);
}

.select-wrapper .dropdown-content > li > span {
  color: var(--white-1)
}

.select-wrapper .caret > path:first-child {
  fill: var(--white-1);
}
