/* Général */
main{
  padding: 1em 3em;
}

.listeAdmin, .conteneurFormulaire{
  background-color: var(--dark-2);
}

.gestionAdmin{
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
  height: 50vh;
}

/* Partie liste organisateur */
.listeAdmin{
  padding: 2em;
  margin-left: 1em;
  min-width: 30em;
  overflow: auto;
}

.ligneOrga{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.titrePartie{
    color: var(--theme);
    font-weight: bold;
}

/* Partie ajout nouveau organisateur*/
.ajoutAdmin{
  padding: 2em;
  margin-left: 1em;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.conteneurFormulaire{
    overflow: auto;
}

.enregistrer{
  min-width:100%;
  color : var(--dark);
}
