h3, article, .validate, .materialize-textarea {
  color: var(--white);
}

main {
  padding: 2em;
  position: relative;
}

article {
  margin: 8em auto;
  width: 50%;
}

article > div {
  margin-top: 5em;
}


main .footer {
  position: absolute;
  right: 2em;
  bottom: 2em;
}