{% extends "base.html" %}

{% block main %}

{% if listeConcours|length != 0 %}
<h4>Prochainement</h4>
<br>
<br>
<!-- Carousel des prochain concours -->
<div class="prochainememt">
    <div class="conteneur-bouton">
        <button class="btn-floating btn-large waves-effect waves-darken disabled">
            <i class="material-icons">chevron_left</i>
        </button>
    </div>

    <div class="col l10 m10 s10 conteneur-concours">
        <ul class="row liste-concours" style="transform: translateX(0);">
            {% for concours in listeConcours %}
            <li>
                <a href="{{ url_for('ficheDetaillee', idConcours=concours.idC) }}">
                    <div class="concours">
                        <div class="image-conteneur" style="background-image:url({{ url_for('static', filename=dirImgConcours ~ concours.image) }})"></div>
                        <div class="info-concours">
                            <h5>{{ concours.nomC }}</h5>
                            <h6>{{ concours.getDateStr() }}</h6>
                            <sub>{{ concours.equipes|length }} équipe{{ "s" if concours.equipes|length >= 2 }}</sub>
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="conteneur-bouton">
        <button class="btn-floating btn-large waves-effect waves-darken">
            <i class="large material-icons">chevron_right</i>
        </button>
    </div>
</div>

{% else %}
<div class="row center-align message-bienvenu">
    <h1>Bienvenu sur {{ application.nomA }}</h1>
    <h5>Créer un nouveau concours</h5>
</div>
{% endif %}

<br>
<br>
<br>

<!-- Créer un nouveau concours -->
<div class="row center-align">
    <a href="{{ url_for('nouveauConcours') }}" class="btn-large waves-effect waves-darken btn-theme">Nouveau Concours</a>
</div>

<br>
<br>

<!-- La liste des archives (concours passé) -->
{% if listeArchive|length != 0 %}
<article>
    <h4>Archives</h4>
    <br>
    <ul class="archive-liste">
        {% for archive in listeArchive %}
        <li>
            <a href="{{ url_for('ficheDetaillee', idConcours=archive.idC) }}">
                <div class="archive">
                    <div class="archive-image" style="background-image:url({{ url_for('static', filename=dirImgConcours ~ archive.image) }})"></div>
                    <div class="archive-infos">
                        <h5>{{ archive.nomC }}</h5>
                        <h6>{{ archive.getDateStr() }}</h6>
                        <sub>{{ archive.equipes|length }} équipe{{ "s" if archive.equipes|length >= 2 }}</sub>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</article>
{% endif %}

{% endblock %}
