<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{{ application.nomA }}</title>
        <meta charset="UTF-8"/>
        <!-- Importation des styles CSS et des icônes -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/materialize/css/materialize.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/connexion.css') }}"/>
    </head>
    <body style="background-image:url({{ url_for('static', filename=dirImgTheme ~ application.backgroundConnexionA) }})">
       <div class="row conteneur">

            <!-- Partie de gauche -->
           <section class="col l6 partie-gauche">
                <div class="logo-app center-block" style="background-image:url({{ url_for('static', filename=dirImgTheme ~ application.logoA) }})"></div>
                <h1 class="titre center-align">{{ application.nomA }}</h1>
           </section>

           <!-- Partie de droite -->
           <section class="col l4 offset-l1 offset-m2 partie-droite">
               <form action="{{ url_for('connexion') }}" method='POST' role="form" class="form col l12">
                    <h4 class="form-titre row">Se Connecter</h4>
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            {{ form.username(id="username", minlength=3, maxlength=50, class="validate", required=true) }}
                            <label class="active" for="username">Utilisateur</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            {{ form.password(id="password", minlength=8, maxlength=50, class="validate", required=true) }}
                            <label class="active" for="password">Mot de passe</label>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn waves-effect waves-darken col s12 btn-large grey darken-4">Connexion</button>
                    </div>
               </form>
           </section>
       </div>
    </body>
</html>
