{% extends "base.html" %}

{% block main %}

<div class="row">
    <div class="col l6 center-align">
        <h1 class="error-code">{{ error.code }}</h1>
    </div>
    <div class="col l6">
        <h5 class="error-name">- {{ error.name }} -</h5>
        <h6 class="error-description">{{ error.description }}</h6>
        <a href="{{ url_for('accueil') }}" class="btn-large waves-effect waves-darken btn-theme">Retour à l'accueil</a>
    </div>
</div>

{% endblock %}