{% extends "base.html" %}

{% block main %}
<!-- Nouvelle équipe -->
<article>
    <h4>Équipes</h4>
    <section class="row section">
        <form action="{{ url_for('saveNouvelleEquipe', idConcours=idConcours) }}" method="POST" enctype="multipart/form-data">

            <div class="col s12 m2 l1 offset-l1 offset-m1 input-avatar-container">
                <label for="new-avatar" class="input-avatar z-depth-2 btn tooltipped" data-position="bottom" data-tooltip="Ajouter un avatar"></label>
                {{ form_nouvelle_equipe.avatar(id="new-avatar", hidden="true") }}
            </div>

            <div class="input-field col s12 m3 l3">
                {{ form_nouvelle_equipe.nom(id="team-name", class="grey-text text-lighten-5 validate", minlength=3, maxlength=50) }}
                <label class="active" for="team-name">Nom <span class="label-required">*</span></label>
            </div>

            <div class="input-field col s12 m2 l2">
                {{ form_nouvelle_equipe.poste(id="team-post", class="grey-text text-lighten-5 validate", minlength=3, maxlength=15) }}
                <label class="active" for="team-post">Poste</label>
            </div>

            <button type="submit" class="btn green waves-effect waves-darken grey-text text-darken-4 input-field col s12 m2 l1 offset-l1 m2010">Valider</button>

        </form>
    </section>
    <div class="divider"></div>
</article>

<!-- Nouveau joueur -->
<article>
    <h4>Joueurs</h4>
    <section class="row section">
        <form action="{{ url_for('saveNouveauJoueur', idConcours=idConcours) }}" method="POST">

            <div class="input-field col s12 m3 l3 offset-l2 offset-m2">
                {{ form_nouveau_joueur.nom(id="player-name", type="text", class="grey-text text-lighten-5 validate", minlength=3, maxlength=50) }}
                <label class="active" for="player-name">Nom Prénom <span class="label-required">*</span></label>
            </div>

            <div class="input-field col s12 m3 l2">
                {{ form_nouveau_joueur.equipe() }}
            </div>

            <button type="submit" class="btn green waves-effect waves-darken grey-text text-darken-4 input-field col s12 m2 l1 offset-l1 m2010">Valider</button>

        </form>
    </section>
    <div class="divider"></div>
</article>

<!-- La liste des équipes -->
{% if listeEquipes|length != 0 %}
<article>
    <h4>Liste des équipes</h4>
    <section class="row section affichage-equipe">

        {% for equipe in listeEquipes %}
        <form action="" enctype="multipart/form-data" id-equipe="{{ equipe.idE }}" id-concours="{{ idConcours }}" class="btn-form">
            <button data-target="modal" class="modal-trigger team col s12 m4 l2 waves-effect waves-darken">
                {% if equipe.avatar is none %}
                <div class="team-avatar team-avatar-no-image accent-1"><span>{{ equipe.nomE[0] }}</span></div>
                {% else %}
                <div class="team-avatar" style="background-image: url('{{ url_for('static', filename=dirImgEquipe+equipe.avatar) }}');"></div>
                {% endif %}
                <p>{{ equipe.nomE }}</p>
            </button>
        </form>
        {% endfor %}

    </section>
    <div class="divider"></div>
</article>
{% endif %}


<!-- La liste des joueur n'appartenant pas à une équipe -->
{% if joueursSansEquipe|length != 0 %}
<article>
    <h4>Joueurs sans équipe</h4>
    <section class="row affichage-joueur">
        {% for joueur in joueursSansEquipe %}
        <button class="joueur btn btn-flat grey darken-4 white-text col l2 m3 s5 btn-large waves-effect waves-darken" id-joueur="{{ joueur.idJ }}" id-concours="{{ idConcours }}">{{ joueur.nomJ }} {{ joueur.prenomJ }}</button>
        {% endfor %}
    </section>
</article>
{% endif %}



<!-- Modal de modification des équipes -->
<div id="modal" class="modal">
    <div class="modal-content">
        <form action="{{ url_for('updateEquipe', idConcours=idConcours) }}" method="POST" enctype="multipart/form-data">
            {{ form_modifier_equipe.idEquipe(id="id-equipe", hidden=True) }}
            <div class="col s12 input-avatar-container">
                <label id="modif-avatar-label" for="modif-avatar" class="input-avatar z-depth-2 btn tooltipped" data-position="bottom" data-tooltip="Modifier l'avatar"></label>
                {{ form_modifier_equipe.avatar(id="modif-avatar", hidden="true") }}
            </div>
            <br>
            <div class="container">
                <div class="input-field col s12">
                    {{ form_modifier_equipe.nom(id="modif-team-name", type="text", class="grey-text text-lighten-5 validate") }}
                    <label id="label-modif-team-name" class="active" for="modif-team-name">Nom <span class="label-required">*</span></label>
                </div>
                <br>
                <div class="input-field col s12">
                    {{ form_modifier_equipe.poste(id="modif-team-post", type="text", class="grey-text text-lighten-5 validate") }}
                    <label id="label-modif-team-post" class="active" for="modif-team-post">Poste</label>
                </div>
            </div>

            <ul class="collection container">
            </ul>

            <div class="ligneBtn">
                <button type="button" id="supprimer-equipe" class="btn red grey-text text-darken-4 waves-effect waves-darken">Supprimer</button>
                <button type="submit" class="btn green grey-text text-darken-4 right waves-effect waves-darken">Enregistrer</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
