<div id="modalErreurDate" class="modal grey darken-4">
    <div class="modal-content">
        <h4> Enregistrement annulé</h4>
        <p>Date invalide : la date de fin est antérieure à celle du début.</p>
    </div>
    <div class="modal-footer grey darken-4">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat green">Confirmer</a>
    </div>
</div>
