{% extends "base.html" %}

{% block main %}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.2&appId=295043394497948&autoLogAppEvents=1"></script>
<h4>Publication sur Facebook</h4>

  <article class="description col s12 m6 l5 center">
    <div class="input-field the_canvas_element_id">
      <input type="text" id="fb-titre" class="validate" value="{{ concours.nomC }}">
      <label>Titre</label>
    </div>

    <div class="input-field">
      <textarea id="fb-description" class="materialize-textarea"></textarea>
      <label>Description</label>
    </div>

    <div class="row center">
      <button class="btn green waves-effect waves-darken grey-text text-darken-4" id="publier">Publier</button>
    </div>
  </article>

  <div class="row footer">
    <a href="{{ url_for('ficheDetaillee', idConcours=concours.idC) }}" class="btn green waves-effect grey-text text-darken-4 waves-darken right">Suivant<i class="material-icons right">arrow_forward</i></a>
  </div>
{% endblock %}
